[SddmGreeterTheme]
Name=nebula
Description=Nebula SDDM - Hyprlock-inspired dark glassmorphic theme
Author=AMIT
Version=1.1.1
License=MIT
Type=sddm-theme
QtVersion=6
